body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: #03045e;
  background: #fbf8cc;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.navbar a {
  margin: 0 10px;
  text-decoration: none;
  color: #03045e;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem;
}

.hero-text {
  flex: 1;
  min-width: 250px;
}

.hero-image img {
  max-width: 100%;
  border-radius: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #f5ee84;
  color: #474306;
  text-decoration: none;
  border-radius: 6px;
}

section {
  padding: 2rem;
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.work-item img {
  width: 100%;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #03045e;
  color: white;
}

.btn:hover {
    background-color: #474306;
    color: white;
}
